<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple TODO Project</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- Will not work as vue is not controlling -->
   <div id="app">
    <h2>{{ fullName }}</h2>

    <div>
            <label for="firstName" :class="firstNameClass">First Name</label>
            <input type="text" v-model="firstName" id="firstName">
             <label for="lastName" :class="lastNameClass">Last Name</label>
            <input type="text" v-model="lastName">
            <div>
                <div class="buttons">
                    <button @click="add">Add</button>
                    <button @click="reset">Reset</button>
                </div>
                <div class="buttons">
                    <input type="checkbox" id="checkbox" v-model="isBold">
                    <label for="checkbox">Should be bold</label>
                </div>
            </div>
        </div>
        <ul>
            <li v-for="(contact, index) in contacts" @click="remove(index)" :key="contact">
                <input type="text" @click.stop>
                <p>{{ contact }} - {{index}}</p>
            </li>
        </ul>
   </div>
   <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   <script src="app.js"></script>
</body>
</html>