<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple TODO Project</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- Will not work as vue is not controlling -->
   <div id="app">
    <h2>{{ fullName }}</h2>
    <div>
            <label for="firstName">First Name</label>
            <input type="text" v-model="firstName" id="firstName">
             <label for="lastName">Last Name</label>
            <input type="text" v-model="lastName">
            <button v-on:click="reset">Reset</button>
        </div>
        <ul>

        </ul>
   </div>
   <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   <script src="app.js"></script>
</body>
</html>