* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
    font-family: 'sans-serif';
}

#app {
    margin: 5rem auto;
    max-width: 40rem;
    padding: 1rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

label, input {
    display: block;
    margin-top: 0.5rem;
    width: 100%;
}

label {
    font-size: 1.6rem;
    font-weight: bold;
}

button {
    margin-top: 0.5rem;
}

ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
}

li {
    border: 1px solid #baca98;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem 0;
    background-color: rgb(238, 249, 216);
}

